{% extends 'pages/base.html'%}


{% block content%}
<!-- {% load crispy_forms_tags %} -->

        
<u><h1>Register</h1></u>

<div class="reg" style="background-color: mediumpurple; padding: 10px; border-radius: 6px;padding-top: 40px;">
{% if forms.errors %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-left: 6cm; width: 6cm;">
        <p>There was an error with your registration</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endif %}

	<form action="" method=POST >
		{% csrf_token %}
		{{ form.as_p }}  
		

	<br><br>	  
		<input type="submit" value="Submit" class="btn btn-secondary">



	</form>

</div>


{% endblock%}