{% extends 'pages/dash.html'%}
{% load static%}


{% block content%}

	{% block style%}
  	<link rel="stylesheet" type="text/css" href="{% static 'index_2.css'%}">
	{% endblock %}

<div class="home-container">
	<div class="text-block-1">
				<h1><b>Translation of your<br>  content just got easier...</b></h1>
				<h5>Transvee gives you the power to engage better with your<br>  audience</h5>
				<div class="section-1-btn">
						<a href="{% url 'function-1'%}">
							<button type="button" class="btn-start-0" >Let's Get Started</button>
						</a>
						
				</div>
			</div>
	
		<img  src="https://uploads-ssl.webflow.com/62d5b7016a6dd7dd19e4c0ed/62d5b91bfe4bdb94bf11cad0_transv%20102.png" loading="lazy" srcset="https://uploads-ssl.webflow.com/62d5b7016a6dd7dd19e4c0ed/62d5b91bfe4bdb94bf11cad0_transv%20102-p-500.png 500w, https://uploads-ssl.webflow.com/62d5b7016a6dd7dd19e4c0ed/62d5b91bfe4bdb94bf11cad0_transv%20102-p-800.png 800w, https://uploads-ssl.webflow.com/62d5b7016a6dd7dd19e4c0ed/62d5b91bfe4bdb94bf11cad0_transv%20102-p-1080.png 1080w, https://uploads-ssl.webflow.com/62d5b7016a6dd7dd19e4c0ed/62d5b91bfe4bdb94bf11cad0_transv%20102.png 1523w" sizes="(max-width: 479px) 300px, (max-width: 767px) 83vw, (max-width: 991px) 45vw, 450px" alt="" class="image image-4">
	
</div>

{% endblock%}