 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="sidebar">
    <a class="logo" href="{% url 'home' %}" ><img src="https://uploads-ssl.webflow.com/62d5b7016a6dd7dd19e4c0ed/62d604623f9316bc092a74f9_Group%201%20(1).png" loading="lazy" alt="" width="180"></a>

    <nav>
      <ul>
        <li>
          <a href="{% url 'home-1'%}" class="b"><i class="fa fa-fw fa-home"></i> Home</a>
        </li>
        <li>
          <a href="{% url 'function-1'%}" class="b"><i class="fa fa-fw fa-wrench"></i>Translator</a>
        </li>
        <li>
          <a href="#clients" class="b"><i class="fa fa-fw fa-user"></i> My Profile</a>
        </li>
        <li>
          <a href="#contact" class="b"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        </li>
        <li>
          <a href="{% url 'logout' %}" class="b"><i class="fa fa-fw fa-out"></i> Log-Out</a>
        </li>
      </ul>
    </nav>
</div>







 <!-- 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="sidebar-1" style="background-color: black;">
  <div class="side-link">
    <a class="sidebar" href="{% url 'home-1' %}" style="margin-top: -20px; margin-right: 50px;"><img src="https://uploads-ssl.webflow.com/62d5b7016a6dd7dd19e4c0ed/62d604623f9316bc092a74f9_Group%201%20(1).png" loading="lazy" alt="" width="180"></a><br>
    <a href="{% url 'home-1'%}" class="b"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="{% url 'function-1'%}" class="b"><i class="fa fa-fw fa-wrench"></i>Translator</a>
    <a href="#clients" class="b"><i class="fa fa-fw fa-user"></i> Clients</a>
    <a href="#contact" class="b"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    <a href="{% url 'logout' %}" class="b"><i class="fa fa-fw fa-out"></i> Log-Out</a>
  </div>
</div>  -->